<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book details</title>
</head>
<body>

<table class="table">
    <thead>
    <tr>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Description</th>
        <th scope="col">Release Date</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${book.id}"/>
    <td th:text="${book.title}"/>
    <td th:text="${book.author}"/>
    <td th:text="${book.isbn}"/>
    <td th:text="${book.description}"/>
    <td th:text="${book.releaseDate}"/>
    </tbody>
</table>

<a th:href="@{/books/list}">Return to book list</a>

</body>
</html>